

header{

   

    font-size: 50px;
    margin-top: 0.3em;

}

body{

    background-image:url(https://media.istockphoto.com/photos/background-picture-id1135575969?b=1&k=6&m=1135575969&s=170667a&w=0&h=AirgbRX9H0qAILibKT4qJ1T7t0dKlDRwL3TmNkzBLmo=);




}





li{
    margin-top: 10px;
    float: left;
    margin-left: -20px;
    margin-bottom: 1px;
    font-size: 24px;
    background-color: white;
    width: 225px;
    list-style: none;
    text-align: center;
    
   
}
a{

    text-decoration: none;
    color: black;
}

li:hover{
    background: gray;
}

#menu{

    margin-top: 15px;
    
    

    
}

footer{

    color:white;
    background-color: red;
}








iframe{

    margin-left: 45em;

    
}

label{

    padding: 2em;

    
}

.botones{

    margin: 2em;
    margin-left: 9em;

    width: 100px;
}

#confirmar{

    margin-left: 0.02em;
}

#conf{

    margin: -2em;
}

form{


    
    background-color:white;

    border-radius: 0.3em;

    width: 650px;
    height: 360px;

    box-shadow: 7px 10px 20px white;

    background: dimgray;
    color: white;

    font-family: Arial, Helvetica, sans-serif;

    margin-left: 2em;
    padding: 1em;

    
}

input{

    border: 2px solid gray;

    margin-top: 0.4em;
}

iframe{

margin-top: -25em;

}

#este{
    margin-left: 300px;
}


#datos{
    color: white;

    background: none;
    margin-left: 2em;
}

#cerrar{

    margin-left: 3em;
    background: gray;
    color: white;
}

#cerrar:hover{

    cursor: pointer;
}

#guardar:hover{

    cursor: pointer;
}

#reset:hover{

    cursor: pointer;
}

table{

    color: white;
   
}

#tabla{

    width: 1000px;
}

h1{

    color: white;
}

#container{

    margin-left: 50em;

    margin-top: -33em;
}
